# Python virtual environment
.venv/
venv/
env/
__pycache__/

# Python environment variables
.env

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# FastAPI / Uvicorn files (optional)
*.sqlite
